@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
body {
  font-family: "DM Sans", sans-serif;
}

option {
  color: black;
}
.table-header-sort-icon {
  font-size: 10px;
  margin-left: 5px;
}

.table-header-sort-icon.asc::before {
  content: '▲';
}

.table-header-sort-icon.desc::before {
  content: '▼';
}
.my-button {
  margin-right: 10px; /* adjust the value as needed */
}
